section.add-edit{
    margin-bottom: 30px;

    label{
        display: flex;
        gap:15px;
        margin-bottom: 15px;
        font-size: 1.17em;
        line-height: 1.3;
        width: 100%;
        justify-content: space-between;
        input{
            flex-grow: 1;
        }
    }
    
    .actions{
        gap:8px;
        align-self: flex-end;
    }
}